*{
	 margin:0;
	 padding:0;
	 box-sizing:border-box;
	 font-family:arial,Sans-serif;
 }
 
 .container{
	 width:90%;
	 margin: 0 auto;
	 padding:10px 0;
 }
 
 .row{
	 display:flex;
	 flex-wrap:wrap;
	 }
 
 .col1{
	 width:8.33%;
	 padding:0 15px;
 }
 
 .col2{
	 width:16.66%;
	 padding:0 15px;
 }
 
 .col3{
	 width:25%;
	 padding:0 15px;
 }
 
 .col4{
	 width:33.32%;
	 padding:0 15px;
 }
 
 .col5{
	 width:41.65%;
	 padding:0 15px;
 }
 
 .col6{
	 width:50%;
	 padding:0 15px;
 }
 
 .col7{
	 width:58.31%;
	 padding:0 15px;
 }
 
 .col8{
	 width:66.64%;
	 padding:0 15px;
 }
 
 .col9{
	 width:75%;
	 padding:0 15px;
 }
 
 .col10{
	 width:83.33%;
	 padding:0 15px;
 }
 
 .col11{
	 width:91.63%;
	 padding:0 15px;
 }
 
 .col12{
	 width:100%;
	 padding:0 15px;
 }
 
 #header{
	 padding:20px 0;
 }
 
 .center{
	 align-items:center;
 }
 
 .list{
	 display:flex;
	 flex-wrap:wrap;
	 justify-content:space-evenly;
	 
 }
 
 .list a{
	 text-decoration:none;
	 color:black;

 }
 
 .list li{
	  list-style:none;
 }
 
 .card-3 a{
	 text-decoration:none;
	 background-color:#ed502e;
	 border-radius:5px;
	 color:white;
	 padding: 10px 20px;
	 display: inline-block;
 }
 
 .card-3{
	 text-align:end;
 }
 
 .home a{
	 color:#ed502e;
 }
 
 .list a:hover{
	 color:#ed502e;
	 transition:all 0.5s ease;
 }
 
 .card-3 a:hover{
	 background-color:#ed502ea1;
	 transition:all 0.5s ease;
 }
	 
 #section1{
	  background-image:url("../images/office.jpg");
	  height:90vh;
	  background-size:cover;
	  background-position:center;
  }
  
  .banner{
	  background-color:black;
  }
  #section1 container{
	  display:flex;
	  align-items:center;
  }
	  
  
  .bg1 h1{
	  color:white;
	 font-size: 50;
  }
  
  .bg1 p{
	  color:white;
  }
  
  .para a{
	   text-decoration:none;
	   background-color:#ed502e;
	   border-radius:5px;
	   color:white;
	   padding: 10px 20px;
	   display: inline-block;
	   margin-top:20px;
 }
  
  .para a:hover{
	 background-color:#ed502ea1;
	 transition:all 0.5s ease;
 }
 
 #section2{
	 /* position:relative; */
	 padding:10px 20px;
 }
 
 
 .list1 li{
	 list-style:none;
 }
 
 .list1 i{
	 color:#ed502e;
 }
 
 .para1 a{
	 text-decoration:none;
	 border:2px solid #ed502e;
	 border-radius:5px;
	 color:#ed502e;
	 padding:5px 20px;
	 display: inline-block;
 }
 
 .para1 a:hover{
	 background-color:#ed502e;
	 transition:all 0.5s ease;
	 color:white;
 }
 
 
 .box1{
	 border:1px solid #ffffff;
	 background-color:#ffffff;
	 padding:20px;
	 margin-top:20px;
	 box-shadow:0 0 10px #00000091;
	
 }

 .box1 h1{
	font-size: 48px;
    padding-left: 20px;
	color: #243051;
}

 .box1 p{
	 font-size: 17px;
	 margin:10px 0;
 }
 
 .text{
	 display:flex;
 }
 
 .banner{
	 display:flex;
	 align-items:center;
	 height:90vh;
	 background-color:#00000073;
	 
 }
 
 .box1 i{
	 color:#ed502e;
	 float: left;
     font-size: 32px;
	 padding-top: 10px;
}
 
 .box1 a{
	 text-decoration:none;
	 color:#33537a;
	 font-weight: 600;
 }
 
 .box1 span{
	 font-weight: 600;
 }
 
 .about1{
     margin-top: 20px;
 }
 
 .about2{
     margin-top: 20px;
 }
 .about h1{
	 padding:10px 0;
	 color: #243051;
	 font-size: 35px;
 }
 
 .about h4{
	 color:gray;
	 position: relative;
 }
 
 .list1 li{
	 padding-top:10px;
 }
 
 .list1 i{
	 padding-right:8px;
 }
	 
 .about h4::after{
	 content:"";
	 display:inline-block;
	 width:99px;
	 height:2px;
	 background-color:orange;
	 position: absolute;
     top: 6px;
     left: 60px;
	 
 }
	 

.para1 a{
	margin-top:10px;
}
 
 .box1 a:hover{
	 color:#33537a87;
	 transition:all 0.5s ease;
 }
 
 
 /* section3 starts */
 
 #section3{
	 background-color:#b9cdd473;
 }
 
 #section3 .container{
	width:100%
	
 }
 
 .bg2 img{
	 width:100%;
	 height: 100vh;
	
 }
 
 .content2{
	 padding:41px;
 }
 
 .image1{
	 padding:0 15px 0 0;
 }
 
 .heading2 h1{
	 font-size:29px;
	 color:#3e3e8e;
 }
 
 .heading2 span{
	 font-weight:100;
	 color:#34349f94;
 }
 
 .heading2 p{
	 padding:15px 0;
 }
 
 .content{
	 border:1px solid white;
	 padding: 17px 0 17px 24px;
	 background-color: white;
	 margin-top: 10px;
 }
 
 .content h4{
	 padding:10px 0;
 }
 
 .content span{
	 color:orange;
 }
 
 .content h4:hover{
	 color:orange;
	 transition:all 0.5s ease;
 }
 
 
  /* section4 starts */
  
  .services {
	  border:1px solid black;
  }
	  