*{
	 margin:0;
	 padding:0;
	 box-sizing:border-box;
	 
 }
 
 body{
	 color: #444444;
	 font-family: "Open Sans", sans-serif;
 }
 
 .container{
	 width:90%;
	 margin: 0 auto;
	 padding:10px 0;
 }
 
 .row{
	 display:flex;
	 flex-wrap:wrap;
	 }
 
 .col1{
	 width:8.33%;
	 padding:0 15px;
 }
 
 .col2{
	 width:16.66%;
	 padding:0 15px;
 }
 
 .col3{
	 width:25%;
	 padding:0 15px;
 }
 
 .col4{
	 width:33.32%;
	 padding:0 15px;
 }
 
 .col5{
	 width:41.65%;
	 padding:0 15px;
 }
 
 .col6{
	 width:50%;
	 padding:0 15px;
 }
 
 .col7{
	 width:58.31%;
	 padding:0 15px;
 }
 
 .col8{
	 width:66.64%;
	 padding:0 15px;
 }
 
 .col9{
	 width:75%;
	 padding:0 15px;
 }
 
 .col10{
	 width:83.33%;
	 padding:0 15px;
 }
 
 .col11{
	 width:91.63%;
	 padding:0 15px;
 }
 
 .col12{
	 width:100%;
	 padding:0 15px;
 }
 
 #header{
	padding: 20px 0;
    position: sticky;
	width:100%;
    z-index: 999;
    top: 0;
    background-color: white;
	box-shadow:0px 2px 4px #00000042;
 }
 
 .center{
	 align-items:center;
 }
 
 .nav-list{
	 display:flex;
	 flex-wrap:wrap;
	 justify-content: end;
     gap: 34px;
	 
 }
 
 .nav-list a{
	 text-decoration:none;
	 color:black;
	font-family: 'Open Sans', sans-serif;
 }
 
 .nav-list li{
	  list-style:none;
 }
 
 .logo h2{
	 font-family: 'Raleway', sans-serif;
	 font-weight:700;
 }
 
 .primary_btn a{
	 text-decoration:none;
	 background-color:#ed502e;
	 border-radius:5px;
	 color:white;
	 padding: 10px 20px;
	 display: inline-block;
 }
 
 .nav_home a{
	 color:#ed502e;
 }
 
 .nav-list a:hover{
	 color:#ed502e;
	 transition:all 0.5s ease;
 }
 
 .primary_btn a:hover{
	 background-color:#ed502ea1;
	 transition:all 0.5s ease;
 }
 
 .drop {
    position: relative;

}

.drop:hover ul.dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

 ul.dropdown {
    background-color: #fff;
    box-shadow: 0 0 30px #0000001c;
    position: absolute;
    top:28px;
    left: -12px;
    list-style: none;
    width: 180px;
    padding-left: 22px;
    line-height: 2.5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(30px);
}

.drop1 {
    position: relative;

}

.drop1:hover ul.dropdown1 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

 ul.dropdown1 {
    background-color: #fff;
    box-shadow: 0 0 30px #0000001c;
    position: absolute;
    top: 1px;
    left: 158px;
    list-style: none;
    width: 180px;
    padding-left: 22px;
    line-height: 2.5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(30px);
}

	/* banner section starts */
 #banner{
	  background:linear-gradient(#1411116b,#322d2b7a),url("../images/office.jpg");
	  height:100vh;
	  background-size:cover;
	 background-position:center;
	  display:flex;
	  align-items:center;
  }
  
  
  .content_section h1{
	  color:white;
	 font-size: 50;
	  font-family: 'Raleway', sans-serif;
	  font-weight:700;

  }
  
  .content_section p{
	  color:white;
	   font-family: 'Open Sans', sans-serif;
	  margin: 20px 0;
  }
  
  .primary_btn a{
	   text-decoration:none;
	   background-color:#ed502e;
	   border-radius:5px;
	   color:white;
	   padding: 10px 20px;
	   display: inline-block;
	    font-family: 'Open Sans', sans-serif;
		font-weight:500;
 }
  
  .primary_btn a:hover{
	 background-color:#ed502ea1;
	 transition:all 0.5s ease;
 }
 
        /* about_section starts */
 
 #about_section{
	 padding:40px 0 60px;
	 font-family: 'Open Sans', sans-serif;
	 
 }
 
 .title{
	 padding:20px 0;
 }
 
 .about_list{
	 padding: 10px 0;
 }
 
 .about_list li{
	 list-style:none;
 }
 
 .about_list i{
	 color:#ed502e;
	 font-size: 16px;
	 padding-right: 10px;
 }
 
 .secondary_btn a{
	 text-decoration:none;
	 border:2px solid #ed502e;
	 border-radius:5px;
	 color:#ed502e;
	 padding: 10px 20px;
	 display: inline-block;
	 margin-top: 22px;
 }
 
 .secondary_btn a:hover{
	 background-color:#ed502e;
	 transition:all 0.5s ease;
	 color:white;
 }
 
 
 .about_card{
	 border:1px solid #ffffff;
	 background-color:#ffffff;
	 padding:20px;
	 margin-top:26px;
	 box-shadow: 0 0 10px #0000002b;
	
 }

 .about_card h1{
	font-size: 48px;
    padding-left: 20px;
	color: #0b2341;
}

 .about_card p{
	 font-size: 14px;
	 font-family: 'Raleway', sans-serif;
	 padding: 20px 0;
 }
 
 .about_card_content{
	 display:flex;
	 align-items:center;
 }
 
 
 
 .about_card i{
	 color:#ed502e;
     font-size: 32px;
}
 
 .about_card a{
	 text-decoration:none;
	 color: #164682;
	 font-weight: 600;
	 font-family: "Poppins", sans-serif;
 }
 
 .about_card span{
	 font-weight: 600;
	 font-size:14px;
 }
 
 .about_section{
     margin: 26px 0;
 }
 
 .about_section p{
    font-family: "Open Sans", sans-serif;
 }

 
 .about_content a{
	 font-family: "Open Sans", sans-serif;
	 font-weight:600;
	 line-height:1;
	 letter-spacing:1px;
 }
 
	 
 .title h1{
	 color: #243051;
	 font-size: 35px;
	 font-family: "Poppins", sans-serif;
 }
 
 .title h4{
	 color:gray;
	 position: relative;
	 font-weight:500;
	 font-size:14px;
	 letter-spacing:2px;
	 font-family: "Poppins", sans-serif;
 }
 
 
	 
 .title h4::after{
	 content:"";
	 width:114px;
	 height:1px;
	 background-color:#f38b74;
	 position: absolute;
     top: 10px;
     
	 
 }
	 
 .about_sub_title::after{
	  left: 62px;
  }
  
 .about_card p{
	 font-family: "Raleway", sans-serif;
	 
 }


 
 .about_card a:hover{
	 color:#2169c4;
	 transition:all 0.5s ease;
 }
 
 
 /* company_detail starts */
 
 #company_detail{
	 background-color: #f6f9fd;
	 font-family: 'Open Sans', sans-serif;
 }
 
 #company_detail .container{
	width:100%
	
 }
 
 .details_image img{
	 width: 100%;
    height: 550px;
    position: relative;
    left: -15px;
    object-fit: cover;
	
 }
 
 .accordian_section{
	 padding:41px;
 }
 
 
 .details_image{
	
	  position:relative;
	  width:100%;
 }
 
 .details_image i{
	 position: absolute;
    bottom: 45%;
    right: 46%;
    font-size: 76px;
    color: #ff4000cc;
 }
 
 .accordian_heading h1{
	 font-size:32px;
	 color:#123a6d;
	font-family: 'Raleway', sans-serif;
 }
 
 .accordian_heading h1 span{
	 font-weight:400;
 }
 
 .accordian_heading p{
	 padding:15px 0;
	 font-family: 'Open Sans', sans-serif;
	 color:gray;
 }
 
 .accordian_content{
	 border:1px solid white;
	 background-color: white;
	 margin-top: 10px;
	 font-family: "Poppins", sans-serif;
 }
 
 .accordian_content h4{
	 padding:10px;
	 color: #0b2341;
	 font-size: 16px;
    font-weight: 500;
	position: relative;
 }
 
 .accordian_content span{
	 color:#ed502e;
	 font-size: 19px;
 }
 
 .accordian_content p{
	 font-family: 'Open Sans', sans-serif;
 }
 
 .accordian_content h4:hover{
	 color:orange;
	 transition:all 0.5s ease;
 }
 
  .accordian_list i{
	position: absolute;
    right: 0px;
    font-size: 22px;
}

 .accordian_listcontent{
	 height:0px;
	 overflow:hidden;
	 transition:0.5s;
 }

 .accordian_content:hover .accordian_listcontent{
	 height:100px;
	 transition:0.5s;
 }
 
  /* services section starts */
  #services{
	  font-family: "Open Sans", sans-serif;
	  padding: 40px 0 60px;
  }
  
  .services_content {
	  text-align:center;
	  padding: 92px 20px;
	  margin-top: 20px;
	  box-shadow: 0 0 15px #00000012;
  }
	  
 .services_icon i{
    font-size: 29px;
    padding: 12px 16px;
    color: white;
    background-color: #ed502e;
    box-shadow: -11px -8px #ed502e94;
    border-radius: 5px;
}
 
 .services_content h1{
	 padding: 29px;
	 font-family: "Raleway", sans-serif;
 }
 
 .services_content p{
	 font-family: 'Open Sans', sans-serif;
	 font-size: 14px;
 }
	 
 
 
 .services_sub_title::after{
	  left: 87px;
  }
  
 
 .services_content:hover{
	 background-color:#ed502e;
	 color:white;
	 
 }
 
 .services_content:hover .services_icon i{
	 background-color:#fff;
	 color:#ed502e;
	 box-shadow:-11px -8px #e4bdb594;
 }
 
		/* testimonials section starts */
		
 #testimonials{
	  padding: 40px 0 60 px;
	background-color: #f6f9fd;
	margin-top:10px;
	
 }
 
 .test_width{
	 width:80%;
 }
 
 .testimonials_sub_title::after{
	left: 130px;
 }
 

 
 .test_card{
	 position: relative;
     background-color:white;
	 padding: 30px 30px 30px 60px;
     margin: 0 15px 30px;
	 box-shadow: 0 0 10px #041d380f;
}

.test_card img{
	width: 15%;
    position: absolute;
    left: -7%;
	border: 5px solid #fff;
	border-radius: 10px;
}

 .test_card h2{
	 padding: 10px 0 4px 0;
	 font-family: "Raleway", sans-serif;
	 font-weight:700;
	 font-size: 20px;
	 color: #111;
}

 .test_card h4{
	 font-family: "Raleway", sans-serif;
	 font-size:13px;
	 color:gray;
	 
 }
 
.test_card p{
	padding: 16px 0;
    line-height: 19px;
	font-family: 'Open Sans', sans-serif;
}

.test_card i{
		color: #fdedea;
		font-size: 22px;
		padding-right: 10px;
}

     /* call_to_action section starts */
	 
 #call_to_action{
	 background: #0b2341;
	 padding: 40px 0;
 }
 
 .call_to_action_content{
	 text-align:center;
 }
 
 .call_to_action_heading h2{
	 color:white;
	 font-family: "Raleway", sans-serif;
	 font-weight: 700;
 }
 
 .call_to_action_heading p{
	 color:white;
	 font-family: 'Open Sans', sans-serif;
	 margin-top: 20px;
 }
 
 .call_to_action_btn a{
	 color:white;
	 border:1px solid #ed502e;
	 padding: 14px 34px;
	 text-decoration:none;
	 border-radius:5px;
	 font-family: "Raleway", sans-serif;
	 font-weight: 600;
 }
 
 .call_to_action_btn a:hover{
	 background-color:#ed502e;
 }

  .call_to_action_content{
	  padding:21px;
  }
  
  .call_to_action_heading{
	  padding:18px;
  }
  
  .call_to_action_btn{
	  padding:20px;
  }
  
  
		/* portfoliosection starts */
 #portfolio{
	     padding: 36px 0;
 }
 
 .portfolio_nav_list{
	 text-align:center;
	 padding: 31px 0 15px 0;
 }
 
 .portfolio_nav_list a{
	 text-decoration:none;
	 color:black;
    font-family: "Open Sans", sans-serif;
	font-weight: 600;
    font-size: 14px;
 }
 
 .portfolio_nav_list li{
	  list-style:none;
	  display:inline-block;
	  padding:17px;
 }
 
 .all a{
	 color:#ed502e;
 }
 
 .portfolio_nav_list a:hover{
	 color:#ed502e;
	 transition:all 0.5s ease;
 }
 .portfolio_card_image{
	padding: 10px 0;
	
 }
 
 .portfolio_card{
	 position:relative;
	 display: flex;
    justify-content: center;
	
 }
 
 .portfolio_card_content{
	 border:1px solid #ffffffe0;
	 background-color:#ffffffe0;
	 position:absolute;
	display:flex;
	bottom: 20px;
    width: 90%;
    justify-content: space-between;
	padding: 15px 10px;
	 opacity:0;
	 visibility:hidden;
	 transition:0.5s;
 }
 
 .portfolio_card_title h4{
	 font-family: "Raleway", sans-serif;
	 line-height: 30px;
 }
 
 .portfolio_card_title p{
	 color:#1a5298;
	font-size:14px;
 }
 
 .portfolio_card_icon{
	 display:flex;
	 align-items: center;
	 
 }
 
 .portfolio_card_icon i{
    font-size: 30px;
	padding-left:12px;
	color: #123a6d;
 }
 
.portfolio_card_icon i:hover{
	color:#ed502e;
}

 .portfolio_card:hover .portfolio_card_content{
	 visibility:visible;
	 opacity:1;
	 transform: translateY(-15px);
 }
 

 .portfolio_sub_title::after{
	left: 105px;
 }
 
 /* team section starts */
 
 #teams{
	 background-color: #f6f9fd;
	 padding: 40px 0 60px;
 }
 
 
 .teams_sub_title::after{
	 left: 53px;
	 
 }
 
  .teams_card{
	  position:relative;
	  overflow:hidden;
	  margin-bottom:15px;
}
  
  .teams_social_links i{
	  padding-left:15px;
  }
  
  .teams_details{
	  position:absolute;
	  opacity:0;
	  width:100%;
	  text-align:center;
	  top:70%;
	  z-index:2;
	  color:white;
	  bottom:20px;
  }
  
  .teams_details h3{
     font-family: "Raleway", sans-serif;
	 font-weight:700;
	 
  }
   .teams_details p{
     font-style:italic;
		font-weight:300;
   }
  
  .teams_social_links{
	  width:20%;
	  font-size:20px;
	  position:absolute;
	  line-height:2.5;
	  opacity:0;
	  color:white;
	  bottom:5px;
	  transition:0.5s;
	  top:1px;
	  background-color:#233751;
	  z-index:3;
  }
  
  .teams_card:hover .teams_details{
	  opacity:1;
	  bottom:30px;
	  transition:0.5s;
  }
  
  .teams_card:hover .teams_social_links{
	  opacity:1;
	  left:0px;
	
  }
  
  .teams_card_content{
	  position:absolute;
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  background:linear-gradient(164deg,#3330,#233751a8 50%,#233751 75%,#233751fc 75%);
	  z-index:1;
	  opacity:0;
  }
  
  .teams_card:hover .teams_card_content{
	  opacity:1;
  }
  
  .teams_social_links a:hover{
	  color:#ed502e;
  }
  .teams_social_links a{
	  color:white;
  }
  
  
  /* faq_section starts */
  
  #faq{
	  padding:40px 0 60px;
  }
  
  #faq .container{
	  width:85%;
  }
  
  .faq_content{
	   padding: 27px 0;
	   border-bottom:1px solid #94b9c54d;
	   margin: 14px 0;	
  }
  
  .faq_qus{
	  display:flex;
  }
  
 
 .faq_qus h3{
    font-family: "Poppins", sans-serif;
	line-height:24px;
	font-weight: 500;
	font-size:15px;
 }
 
 .faq_ans p{
	 font-family: "Open Sans", sans-serif;
	 font-size:15px;
 }
 
 
 .faq_sub_title::after{
	left: 54px;
 }
  
 .faq_qus i{
	 color:#669ee5;
	  font-weight: 500;
	font-size:22px;
	 padding-right: 10px;
 }
 
 
		/* section10 starts */
		
 #contact{
	background-color: #f6f9fd;
	padding:40px 0 60px;
 }
 
 .contact_sub_title::after{
	left: 90px;
 }
 
 .contact_address{
	 border:1px solid white;
	 text-align:center;
	 padding: 34px;
	  margin-top: 15px;
	  background-color:white;
	  
}
	 
 
 .contact_address i{
	 font-size: 30px;
    border: 2px dotted #fbdad2;
    border-radius: 50%;
    display: inline-flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
	color: #ed502e;
 }
 
 .contact_address h1{
	 padding: 10px 0;
	 font-family: "Raleway", sans-serif;
	 color:gray;
}


 
 .contact_details{
	  border:1px solid white;
	   text-align:center;
	    padding: 34px;
	   margin-top: 19px;
	   background-color:white;
 }
 
 .contact_details i{
	  font-size: 30px;
    border: 2px dotted #fbdad2;
    border-radius: 50%;
    display: inline-flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
	color: #ed502e;
	
 }
 
 .contact_details h1{
	 padding: 10px 0;
	 font-family: "Raleway", sans-serif;
	 color:gray;
}
 .contact_details a{
	text-decoration:none;
	color:#444;
}


 .form_group{
	 padding:24px;
	 margin-top: 17px;
	 border:1px solid white;
	 background-color:white;
}
 
 
 .form_input input{
	 padding: 10px;
    width: 100%;
	outline-color:#ed502e;
	border-radius:3px;
	border:1px solid #dee2e6;
 }
 
 
 .form_subject input{
	 width: 100%;
    padding: 12px;
	outline-color:#ed502e;
	border-radius:3px;
	border:1px solid #dee2e6;
 }
 
 
 .form_subject{
	 padding: 32px 0px;
 }
 
 .form_message textarea{
	 width: 100%;
    height: 121px;
    padding: 13px;
	outline-color:#ed502e;
	border-radius:3px;
	border:1px solid #dee2e6;
 }
 
 .message_btn{
	 display: flex;
    justify-content: center;
	margin-top: 29px;
 }
 
 .message_btn a{
	 text-decoration:none;
	 background-color:#ed502e;
	 border-radius:5px;
	 color:white;
	 padding: 10px 20px;
	 display: inline-block;
	
 }
 
 .message_btn a:hover{
	 background-color:#ed502ea1;
	 transition:all 0.5s ease;
 }
	 
		/* footer_section starts */
		
 #footer{
	 background-color:#071527;
	 font-size:14px;
 }
 
 #footer .container{
	 padding: 40px 0;
 }
 
 .footer_socail_links h3{
	 font-family: "Raleway", sans-serif;
 }
 

 .footer_social_links{
	 margin: 20px 0;
 }
 
 .footer_social_links i{
    padding: 9px;
	color:white;
	background-color:#0a1e38;
	border-radius: 5px;
 }
 
 .footer_social_links p{
	 font-family: "Raleway", sans-serif;
 }
 
 .footer_social_links i:hover{
	 background-color:#ed502e;
	 transition:all 0.5s ease;
 }
	 
 .footer_details{
	 border:1px solid #05101e;
	 background-color:#05101e;
	 text-align:center;
	 padding: 25px 14px;
	 border-top:6px solid #ed502e;
	 color:white;
	  font-family: "Raleway", sans-serif;
 }
 
 .footer_details p{
	 padding: 12px 0px;
 }
 
 .footer_nav_links h3{
	 color:white;
	 font-family: "Raleway", sans-serif;
 }
 
  .footer_nav_links li{
		list-style-type:none;
		padding: 12px 0;
  }
 
 .footer_nav_links a{
	 text-decoration:none;
	 color:white;
	 font-family:  "Open Sans", sans-serif;
	 
 }
 
 .footer_nav_links i{
	 color:#ef6445;
 }
 
 .footer_nav_links a:hover{
	 color:#ed502e;
 }
 
	 
 .footer_subscription{
	 color:white;
 }
	
 .footer_subscription h3{
	font-family: "Raleway", sans-serif;
 }
 
 .footer_subscription p{
	 font-family: "Open Sans", sans-serif;
 }
 
 .footer_form{
	 display:flex;
	 position:relative;
 }
 
 .footer_form input{
	 padding: 11px 30px;
	 border-radius: 6px 0 0 6px;
	 outline:0;
 }
 
 .footer_subscription p{
	     padding: 21px 0;
 }
		
 button{
    background-color: #ed502e;
    color: white;
    padding: 11px 36px;
    border-radius: 0 6px 6px 0;
    position: absolute;
    right: 16%;
    top: 2%;
}
 
 .copyright_section{
	 padding: 25px;
	 color:white;
	 text-align:center;
	 line-height:2;
 }
 .group{
	 padding:54px 0;
	 border-bottom:1px solid #94b9c54d;
 }
 
 
 .copyright_section p{
	 font-family:  "Open Sans", sans-serif;
 }

 
 .copyright_section a{
	 color:#ed502e;
	 text-decoration:none;
 }
 
 .copyright_section a:hover{
	 color:#f1775d;
 }
 